.back-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  margin-top: 10px;
}

.back-button-container button {
  width: 50%;
  margin: 12px 0;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background-color: rgba(0, 0, 0, 0.7); 
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease; 
}

.back-button-container button:hover {
  background-color: rgba(13, 110, 228, 0.8); 
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2); 
}

.back-button-container button:active {
  background-color: rgba(13, 110, 228, 1); 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .back-button-container {
    margin-top: 10px;
    padding: 5px;
  }

  .back-button-container button {
    width: 63%;
    font-size: 1rem; 
    padding: 18px; 
  }
}
