.select-players-container {
  text-align: center;
  padding: 20px;
}

label {
  display: block;
  margin: 10px 0;
  font-size: 18px;
}

select {
  width: 80%;
  padding: 10px;
  margin: 10px 0;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
