<div class="game-container">
  <h2>Sala: {{ roomId }}</h2>
  
  <div *ngIf="playerName && avatar">
    <p>{{ playerName }}</p>
    <img [src]="avatar" alt="Avatar">
    <p>{{ gameStage }}</p>
  </div>
  
  <div *ngIf="displayPointsInput">
    <input type="number" [(ngModel)]="score" placeholder="Puntaje">
    <button (click)="submitScore()">Enviar Puntaje</button>
  </div>
  
  <div *ngIf="isCreator">
    <button (click)="nextStage()">Continuar al siguiente juego</button>
    <button (click)="endGame()">Finalizar Juego</button>
  </div>
</div>
