<div class="create-room-container">
  <h2>Crear Sala</h2>
  <input type="text" placeholder="Nombre de la sala" [(ngModel)]="roomName">
  <app-player-name (nameChanged)="onNameChanged($event)"></app-player-name>
  <app-select-players (playersSelected)="onPlayersSelected($event)"></app-select-players>
  <app-select-avatar (avatarSelected)="onAvatarSelected($event)"></app-select-avatar>
  <button (click)="createRoom()">Crear</button>
  <div *ngIf="roomCode">
    <p>{{ roomCode }}</p>
  </div>
  <app-back-button></app-back-button>
</div>
